.container {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
  }
  
  .form-container {
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    height: 700px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo .asterisk {
    color: #4285f4;
    font-size: 24px;
    margin-right: 5px;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: #fff;
  }
  
  .checkbox-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .checkbox-group input {
    margin-right: 10px;
  }
  
  .checkbox-group label {
    color: #fff;
  }
  
  .google-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    height: 50px;
    display: block;
  }
  
  .google-button:hover {
    background-color: #444;
  }
  
  .facebook-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    display: block;
  }
  
  .facebook-button:hover {
    background-color: #444;
  }
  
  .separator {
    margin: 20px 0;
  }
  
  .google-button img, .facebook-button img {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .google-button span, .facebook-button span {
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
  }
  
  .account-text {
    color: #fff;
    margin-top: 20px;
  }